 * {
    margin: 0;padding: 0;box-sizing: border-box;
 }

 iframe  {
    height: 30%;
    width: 40%;

 }

 #emailPSdOne {
    background-color: rgb(26, 125, 218);
   display: flex;
   align-content: center;
    margin-left: 20vh;
    margin-top: 10vh;
    padding-top: 1vh;
    justify-content: center;
    height: 5vh; width: 20vh;
    text-align: center;
    
 
    text-decoration: none;
    color: white;
 }

 hr {
    margin-top: 100px;
 }
